nav {
    justify-content: flex-end;
    width: calc($width *3);
    padding: 5px 0 5px 0;
    .topic_current_new {
        font-size: $font-size;
        color: darken($color2, $amount: 10%);

        &:hover {
            cursor: pointer;
            color: $color2;
        }

        @if(color=="$color2") {
            color: darken($color2, $amount: 10%);
        }

        @else if(color=="darken($color2, $amount: 10%)") {
            color: $color2;
        }
    }
    .type_news {
        color: darken($color2, $amount: 15%);
        font-variant: small-caps;
        font-size: $font-size - 5px;
    }
    .foto {
        width: calc($width *3);
        height: auto;
        &:hover {
            cursor: pointer;
        }
    }
}