body {
  margin: 0;
  background-color: #f0efef;
}

main {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 0 10% 0 10%;
}

#menu {
  display: grid;
  text-align: center;
  grid-column: 70px;
  background-color: #161e55;
}
#menu #item-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-1:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-2:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-3 {
  grid-column-start: 5;
  grid-column-end: 6;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-3:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-4 {
  grid-column-start: 6;
  grid-column-end: 7;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-4:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-5 {
  grid-column-start: 7;
  grid-column-end: 8;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-5:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-6 {
  grid-column-start: 8;
  grid-column-end: 9;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-6:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-7 {
  grid-column-start: 9;
  grid-column-end: 10;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-7:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}
#menu #item-8 {
  grid-column-start: 10;
  grid-column-end: 11;
  padding-top: 10px;
  color: rgb(218, 222, 249);
  border-right: 1px solid rgb(218, 222, 249);
  height: 50px;
  font-size: 19px;
}
#menu #item-8:hover {
  cursor: pointer;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  font-weight: bolder;
}

#topic {
  background-color: rgb(218, 222, 249);
  font-variant: small-caps;
  text-align: center;
  padding: 25px 0 50px 0;
}
#topic h1 {
  margin: 0;
  font-size: 72px;
}
#topic h3 {
  margin: 0;
  color: #111740;
}

aside {
  width: 400px;
}
aside .aside_topic1 {
  text-align: start;
  font-size: 32px;
  color: #161e55;
  padding-bottom: 25px;
}
aside .aside_topic1:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
aside .subtitle1 {
  padding-top: 25px;
  font-size: 22px;
  color: #786d6d;
  font-variant: small-caps;
}
aside .aside_img1 {
  height: 500px;
  max-width: 450px;
}
aside .aside_topic2 {
  text-align: start;
  font-size: 32px;
  color: #161e55;
  padding-bottom: 25px;
}
aside .aside_topic2:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
aside .subtitle2 {
  padding-top: 25px;
  font-size: 22px;
  color: #786d6d;
  font-variant: small-caps;
}
aside .aside_img2 {
  height: 500px;
  max-width: 450px;
}
aside .aside_topic3 {
  text-align: start;
  font-size: 32px;
  color: #161e55;
  padding-bottom: 25px;
}
aside .aside_topic3:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
aside .subtitle3 {
  padding-top: 25px;
  font-size: 22px;
  color: #786d6d;
  font-variant: small-caps;
}
aside .aside_img3 {
  height: 500px;
  max-width: 450px;
}

article {
  width: 65%;
  padding: 10px 2.5% 0 2.5%;
}
article .article_first {
  padding-top: 25px;
  font-size: 22px;
  color: #282424;
}
article .topic_first {
  padding-bottom: 16.6666666667px;
  font-size: 32px;
  font-weight: bold;
  color: #161e55;
}
article .subtitle_first {
  font-size: 20px;
  padding-bottom: 16.6666666667px;
  color: #786d6d;
  font-variant: small-caps;
}
article .topic_first:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
article .article_second {
  padding-top: 25px;
  font-size: 22px;
  color: #282424;
}
article .topic_second {
  padding-bottom: 16.6666666667px;
  font-size: 32px;
  font-weight: bold;
  color: #161e55;
}
article .subtitle_second {
  font-size: 20px;
  padding-bottom: 16.6666666667px;
  color: #786d6d;
  font-variant: small-caps;
}
article .topic_second:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
article .article_third {
  padding-top: 25px;
  font-size: 22px;
  color: #282424;
}
article .topic_third {
  padding-bottom: 16.6666666667px;
  font-size: 32px;
  font-weight: bold;
  color: #161e55;
}
article .subtitle_third {
  font-size: 20px;
  padding-bottom: 16.6666666667px;
  color: #786d6d;
  font-variant: small-caps;
}
article .topic_third:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
article .article_fourth {
  padding-top: 25px;
  font-size: 22px;
  color: #282424;
}
article .topic_fourth {
  padding-bottom: 16.6666666667px;
  font-size: 32px;
  font-weight: bold;
  color: #161e55;
}
article .subtitle_fourth {
  font-size: 20px;
  padding-bottom: 16.6666666667px;
  color: #786d6d;
  font-variant: small-caps;
}
article .topic_fourth:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
article .article_fifth {
  padding-top: 25px;
  font-size: 22px;
  color: #282424;
}
article .topic_fifth {
  padding-bottom: 16.6666666667px;
  font-size: 32px;
  font-weight: bold;
  color: #161e55;
}
article .subtitle_fifth {
  font-size: 20px;
  padding-bottom: 16.6666666667px;
  color: #786d6d;
  font-variant: small-caps;
}
article .topic_fifth:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
article .article_sixth {
  padding-top: 25px;
  font-size: 22px;
  color: #282424;
}
article .topic_sixth {
  padding-bottom: 16.6666666667px;
  font-size: 32px;
  font-weight: bold;
  color: #161e55;
}
article .subtitle_sixth {
  font-size: 20px;
  padding-bottom: 16.6666666667px;
  color: #786d6d;
  font-variant: small-caps;
}
article .topic_sixth:hover {
  cursor: pointer;
  color: rgb(60, 77, 190);
}
article .text:hover {
  cursor: pointer;
}
article #world-stricle {
  margin-top: 25px;
  width: 100%;
  height: 50px;
  background-color: rgb(218, 222, 249);
  padding: 10px 0 0 7.1428571429px;
  font-size: 22px;
  color: #161e55;
  font-weight: bold;
}

nav {
  justify-content: flex-end;
  width: 300px;
  padding: 5px 0 5px 0;
}
nav .topic_current_new {
  font-size: 22px;
  color: #161e55;
}
nav .topic_current_new:hover {
  cursor: pointer;
  color: rgb(33, 45, 125);
}
nav .type_news {
  color: #111740;
  font-variant: small-caps;
  font-size: 17px;
}
nav .foto {
  width: 300px;
  height: auto;
}
nav .foto:hover {
  cursor: pointer;
}

#back_to_top {
  height: 50px;
  background-color: #161e55;
  color: rgb(218, 222, 249);
  font-variant: small-caps;
  font-size: 20px;
  padding-left: 10px;
}
#back_to_top:hover {
  cursor: pointer;
  color: #8794eb;
}

.fa-sharp {
  margin: 2px 5px 0 2px;
}

.footer_menu {
  padding: 10px 10% 10px 10%;
  display: grid;
  grid-auto-flow: column;
  background-color: #121945;
  row-gap: 10px;
  -moz-column-gap: 90px;
       column-gap: 90px;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(7, 25px);
}
.footer_menu .footer_menu-point1 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point1:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point2 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point2:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point3 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point3:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point4 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point4:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point5 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point5:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point6 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point6:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point7 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point7:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point8 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point8:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point9 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point9:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point10 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point10:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point11 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point11:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point12 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point12:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point13 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point13:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point14 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point14:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point15 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point15:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point16 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point16:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point17 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point17:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point18 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point18:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point19 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point19:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point20 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point20:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point21 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point21:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point22 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point22:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point23 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point23:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point24 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point24:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point25 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point25:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point26 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point26:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point27 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point27:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point28 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point28:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point29 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point29:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point30 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point30:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point31 {
  width: 200px;
  color: rgb(218, 222, 249);
}
.footer_menu .footer_menu-point31:hover {
  cursor: pointer;
  color: #8794eb;
}
.footer_menu .footer_menu-point1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer_menu .footer_menu-point2 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer_menu .footer_menu-point3 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer_menu .footer_menu-point4 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer_menu .footer_menu-point5 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer_menu .footer_menu-point8 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point9 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point10 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point11 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point12 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point13 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point14 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer_menu .footer_menu-point15 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point16 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point17 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point18 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point19 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point20 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point21 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point22 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point23 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer_menu .footer_menu-point24 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point25 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point26 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point27 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point28 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point29 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point30 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.footer_menu .footer_menu-point31 {
  grid-column-start: 4;
  grid-column-end: 5;
}

@media screen and (max-width: 1400px) {
  main {
    width: 92%;
    justify-content: space-around;
    padding: 0 4% 0 4%;
  }
  main article {
    width: 45%;
  }
  main article .topic_first {
    font-size: 24px;
  }
  main article .article_first {
    font-size: 18px;
  }
  main article .topic_second {
    font-size: 24px;
  }
  main article .article_second {
    font-size: 18px;
  }
  main article .topic_third {
    font-size: 24px;
  }
  main article .article_third {
    font-size: 18px;
  }
  main article .topic_fourth {
    font-size: 24px;
  }
  main article .article_fourth {
    font-size: 18px;
  }
  main article .topic_fifth {
    font-size: 24px;
  }
  main article .article_fifth {
    font-size: 18px;
  }
  main article .topic_sixth {
    font-size: 24px;
  }
  main article .article_sixth {
    font-size: 18px;
  }
  main aside {
    width: 30%;
  }
  main aside .aside_topic1 {
    font-size: 24px;
  }
  main aside .aside_img1 {
    height: auto;
    max-width: 250px;
  }
  main aside .aside_topic2 {
    font-size: 24px;
  }
  main aside .aside_img2 {
    height: auto;
    max-width: 250px;
  }
  main aside .aside_topic3 {
    font-size: 24px;
  }
  main aside .aside_img3 {
    height: auto;
    max-width: 250px;
  }
  main nav {
    width: 23%;
  }
  main nav .foto {
    width: 230px;
    height: auto;
  }
  main nav .topic_current_new {
    font-size: 19px;
  }
  footer .footer_menu {
    padding: 0;
    justify-content: space-around;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 12px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(7, 25px);
  }
}
@media screen and (max-width: 1000px) {
  main {
    width: 98%;
    justify-content: space-around;
    padding: 0 1% 0 1%;
  }
  main article {
    width: 38%;
  }
  main article .topic_first {
    font-size: 22px;
  }
  main article .article_first span {
    font-size: 18px;
  }
  main article .subtitle_first {
    font-size: 15px;
  }
  main article .topic_second {
    font-size: 22px;
  }
  main article .article_second span {
    font-size: 18px;
  }
  main article .subtitle_second {
    font-size: 15px;
  }
  main article .topic_third {
    font-size: 22px;
  }
  main article .article_third span {
    font-size: 18px;
  }
  main article .subtitle_third {
    font-size: 15px;
  }
  main article .topic_fourth {
    font-size: 22px;
  }
  main article .article_fourth span {
    font-size: 18px;
  }
  main article .subtitle_fourth {
    font-size: 15px;
  }
  main article .topic_fifth {
    font-size: 22px;
  }
  main article .article_fifth span {
    font-size: 18px;
  }
  main article .subtitle_fifth {
    font-size: 15px;
  }
  main article .topic_sixth {
    font-size: 22px;
  }
  main article .article_sixth span {
    font-size: 18px;
  }
  main article .subtitle_sixth {
    font-size: 15px;
  }
  main aside {
    width: 30%;
  }
  main aside .aside_topic1 {
    font-size: 22px;
    padding-bottom: 16.6666666667px;
  }
  main aside .subtitle1 {
    padding-top: 16.6666666667px;
    font-size: 18px;
  }
  main aside .aside_img1 {
    height: auto;
    width: 260px;
  }
  main aside .aside_topic2 {
    font-size: 22px;
    padding-bottom: 16.6666666667px;
  }
  main aside .subtitle2 {
    padding-top: 16.6666666667px;
    font-size: 18px;
  }
  main aside .aside_img2 {
    height: auto;
    width: 260px;
  }
  main aside .aside_topic3 {
    font-size: 22px;
    padding-bottom: 16.6666666667px;
  }
  main aside .subtitle3 {
    padding-top: 16.6666666667px;
    font-size: 18px;
  }
  main aside .aside_img3 {
    height: auto;
    width: 260px;
  }
  main nav {
    width: 30%;
  }
  main nav .foto {
    width: 250px;
    height: auto;
  }
  main nav .topic_current_new {
    font-size: 19px;
  }
  footer .footer_menu {
    padding: 0;
    justify-content: center;
    -moz-column-gap: 2px;
    column-gap: 60px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(7, 25px);
  }
}
@media screen and (max-width: 900px) {
  main {
    width: 98%;
    justify-content: space-around;
    padding: 0 1% 0 1%;
  }
  main article {
    width: 40%;
  }
  main article .topic_first {
    font-size: 22px;
  }
  main article .article_first span {
    font-size: 18px;
  }
  main article .subtitle_first {
    font-size: 16px;
  }
  main article .topic_second {
    font-size: 22px;
  }
  main article .article_second span {
    font-size: 18px;
  }
  main article .subtitle_second {
    font-size: 16px;
  }
  main article .topic_third {
    font-size: 22px;
  }
  main article .article_third span {
    font-size: 18px;
  }
  main article .subtitle_third {
    font-size: 16px;
  }
  main article .topic_fourth {
    font-size: 22px;
  }
  main article .article_fourth span {
    font-size: 18px;
  }
  main article .subtitle_fourth {
    font-size: 16px;
  }
  main article .topic_fifth {
    font-size: 22px;
  }
  main article .article_fifth span {
    font-size: 18px;
  }
  main article .subtitle_fifth {
    font-size: 16px;
  }
  main article .topic_sixth {
    font-size: 22px;
  }
  main article .article_sixth span {
    font-size: 18px;
  }
  main article .subtitle_sixth {
    font-size: 16px;
  }
  main aside {
    display: none;
  }
  main nav {
    width: 40%;
  }
  main nav .topic_current_new {
    font-size: 19px;
  }
  main nav .foto {
    width: 300px;
    height: auto;
  }
  footer .footer_menu {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header #menu {
    grid-column: 90px;
  }
  header #menu #item-1 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-2 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-3 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-4 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-5 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-6 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-7 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #menu #item-8 {
    padding-top: 5px;
    font-size: 15px;
  }
  header #topic h1 {
    font-size: 32px;
  }
  main {
    width: 90%;
    padding: 0 5% 0 5%;
    flex-direction: column;
  }
  main article {
    width: 80%;
  }
  main article .topic_first {
    font-size: 25px;
  }
  main article .article_first span {
    font-size: 18px;
  }
  main article .subtitle_first {
    font-size: 16px;
  }
  main article .topic_second {
    font-size: 25px;
  }
  main article .article_second span {
    font-size: 18px;
  }
  main article .subtitle_second {
    font-size: 16px;
  }
  main article .topic_third {
    font-size: 25px;
  }
  main article .article_third span {
    font-size: 18px;
  }
  main article .subtitle_third {
    font-size: 16px;
  }
  main article .topic_fourth {
    font-size: 25px;
  }
  main article .article_fourth span {
    font-size: 18px;
  }
  main article .subtitle_fourth {
    font-size: 16px;
  }
  main article .topic_fifth {
    font-size: 25px;
  }
  main article .article_fifth span {
    font-size: 18px;
  }
  main article .subtitle_fifth {
    font-size: 16px;
  }
  main article .topic_sixth {
    font-size: 25px;
  }
  main article .article_sixth span {
    font-size: 18px;
  }
  main article .subtitle_sixth {
    font-size: 16px;
  }
  main aside {
    display: none;
  }
  main nav {
    width: 80%;
  }
  main nav .topic_current_new {
    font-size: 25px;
  }
  main nav .foto {
    width: 400px;
    height: auto;
  }
  footer .footer_menu {
    display: none;
  }
}
.show {
  width: 20%;
  margin: 10px 40% 0 40%;
  height: 33.3333333333px;
  font-size: 20px;
  background-color: rgb(218, 222, 249);
  color: #161e55;
  border: 1px solid rgb(218, 222, 249);
}
.show:hover {
  cursor: pointer;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */