@import 'variebles';
@import 'main';
@import 'header';
@import 'aside';
@import 'article';
@import 'nav';
@import 'footer';
@import 'mediascrin';
.show {
    width: 20%;
    margin: 10px 40% 0 40%;
    height: calc($height /1.5);
    font-size: calc($font-size - 2px);
    background-color: $color4;
    color: darken($color2, $amount: 10%);
    border: $border;

    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}